[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
irc = "~=20.0.0"
SQLAlchemy = "~=1.4.5"
psycopg2 = "*"
pytz = "*"
beautifulsoup4 = "*"
urllib3 = "*"
alembic = "*"
timezonefinder = "*"

[dev-packages]
ruff = "*"
autopep8 = "*"
mypy = "*"

[requires]
python_version = "3.10"
