'''
To create your own local configuration, copy this file as
config_local.py and make any changes required. The settings
from config_local.py will be loaded automatically.
'''

SERVER = "irc.ircnet.org"

# Alternative ircnet servers to try:
#SERVER = "irc.cs.tut.fi"
#SERVER = "irc.cs.hut.fi"
#SERVER = "hub.cc.tut.fi"
#SERVER = "irc.opoy.fi"
#SERVER = "irc.portlane.se"

NICK = "flipperdev"
REALNAME = NICK

CHANNELS = ["#flipperdev"]

# Your nick and username here:
SUPERUSER_NAME = "developer"
SUPERUSER_NICK = "developer"

TIMEZONE = "Europe/Helsinki"

LOCATION = "60.17,24.94"  # Helsinki, Finland

DATABASE_URI = "postgresql://flipperdev:KvwD3xV9Fyi3wFk3@localhost:50420/flipperdev"

# Or set to None to run without database:
#DATABASE_URI = None

GOOGLE_API_KEY = "get yours at https://code.google.com/apis/console"

API_HOST = None
# Set listen address to enable HTTP API:
#API_HOST = '127.0.0.1'
WEBUI_ADDRESS = 'http://localhost'  # Where flipper-ui is hosted
