'''
To create your own local configuration, copy this file as
config_local.py and make any changes required. The settings
from config_local.py will be loaded automatically.
'''

SERVER = "irc.ircnet.org"

NICK = "flipper"
REALNAME = NICK

CHANNELS = ["#flipperdev"]

SUPERUSER_NAME = "developer"
SUPERUSER_NICK = "developer"

TIMEZONE = "Europe/Helsinki"

LOCATION = "60.22,24.81"  # Leppävaara, Espoo, Finland

DATABASE_URI = "postgresql://user:password@host:port/databasename"

API_HOST = '127.0.0.1' # Set to '0.0.0.0' to listen to outside connections

GOOGLE_API_KEY = "get yours at https://code.google.com/apis/console"
